<div class="row">  
    <div class="col-sm-4"></div>  
    <div class="col-sm-4" >  
      <div [hidden]="submitted" style="width: 400px;">  
        <form [formGroup]="courssaveform" #saveapplication (ngSubmit)="saveCours(saveCours)">  
           <div class="form-group">  
                <label for="name">titre</label>  
                <input type="text" class="form-control"  formControlName="titre" data-toggle="tooltip"   
                   data-placement="right" title="titre du cours" required>  
            </div>  
  
            <div class="form-group">  
              <label for="name">description</label>  
                 <textarea class="form-control" id="basicTextarea" formControlName="description" data-toggle="tooltip"   
                 data-placement="right" title="entrez une description" required rows="3" placeholder="Textarea"></textarea>
          </div>
  
          <div class="form-group">  
              <label for="name">Cours</label>  
              <input type="file" class="form-control" formControlName="lien" data-toggle="tooltip"   
              data-placement="right" title="fichier de type cours" required>
          </div>
      
            <div class="form-group">  
                <input type="checkbox"  formControlName="etat">
                publier
            </div>   
            <button type="submit" class="btn btn-success">Envoyer</button>  
        </form>  
    </div>  
    </div>  
    <div class="col-sm-4"></div>  
  </div>  
  <div class="row">  
    <div class="col-sm-4"></div>  
    <div class="col-sm-4">  
        <div [hidden]="!submitted">  
           <h4>article ajouter avec succés!</h4>  
           <button (click)="addCoursForm()" class='btn btn-primary'>Ajouter d autre cours</button>  
        </div>        
    </div>  
    <div class="col-sm-4"></div>  
  </div>  